<div class="artwork-title"><h2>{{title}}</h2></div>
{{#if video}}
<video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
  poster="{{image.meta.file}}" data-setup="{}">
    <source src="{{video.meta.file}}" type='video/mp4'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
{{else}}
<img src="{{image.meta.file}}">
{{/if}}