<div id="arrow-left-block">
<input class="arrow-left-check top-left" id="backarrow-check" type="checkbox">
    <a href="/artists/"><label for="backarrow-check" id="backarrow" class="arrow-left top-left"><div>BACK</div></label></a>
    </div>


<div id="detail-block">
<div id="artist-cover" class="full-width" >
    <div id="artist-profile-image-block">
        <div class="img-circle" id="artist-profile-image" >
            <div class='artist-feed-image-height' style="background-image: url('{{profile_picture.meta.file}}')">
            </div>
        </div>
    </div>
    <div id="artist-name-block"> 
        <div id="artist-name">        
            <span id="artist-first-name" class="artist-name">
                {{{uppercaseSplit title}}}
            </span>
        </div>
    </div>
</div>
<div id="artist-bio" class="full-width">
    {{{bio}}}
</div>
<div id="artist-social" class="full-width" >
    <ul class="artist-social">
        {{#each sitesocialmediacontact}}
            <li class="artist-social">
                <a href="{{this.link_external}}">
                <i class="fa fa-{{this.l_type}}" aria-hidden="true"></i>
                </a>
            </li>
        {{/each}}
    </ul>
</div>
    </div>

<div id="arrow-down-block">
<input class="arrow-down-check center-side" id="M2Marrow-check" type="checkbox">
    <label for="M2Marrow-check" id="M2Marrow" class="arrow-down center-side"><div>TOP</div></label>
    </div>

<script type="text/javascript">
    document.title = "{{uppercase title}}";
</script>